name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Java
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Install Leiningen
      uses: DeLaGuardo/setup-clojure@master
      with:
        lein: '2.9.10'

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Check formatting
      run: lein check

    - name: Run Backend Tests
      run: lein test

    - name: Build Frontend
      run: npx shadow-cljs release app
